.jianjie{
	width: 1040px;
	margin: 16px auto;
	background-color: #c0eaff;
	border: 2px solid #55ffff;
	border-radius: 8px;
	padding: 4px 16px;
	overflow:hidden
}
.touxiang{
	float: left;
	height: 400px;
	width: 300px;
	margin: 16px;
}
.jieshao{
	float: left;
}
#name{
	font-size: 50px;
	font-weight: bold;
	background-color: #55aaff;
	color: #ffffff;
	padding: 16px 32px;
	margin: 4px;
	text-align: center;
}